<div class="container product-detail" *ngIf="product">
  <table class="table mt-3">
      <tr>
        <th>Şəkil</th>
        <th>Məhsulun adı</th>
        <th>Mağaza</th>
        <th>Qiymət</th>
      </tr>
    <tbody>
      <tr *ngFor="let item of productPrices">
        <td>
          <img [src]="product.img" alt="{{ product.productName }}" class="img-thumbnail" width="100">
        </td>
        <td>{{ product.productName }}</td>
        <td>{{ item.storeName }}</td>
        <td>{{ item.price }} ₼</td>
      </tr>
    </tbody>
  </table>
</div>
